<aside class="w-64 h-screen bg-gray-100 p-5 shadow-lg">
  <nav class="sidebar-nav">
    <ul class="list-none p-0 m-0">
      <li class="p-2.5">
        <a href="#" class="no-underline text-gray-800 block transition-colors hover:bg-gray-200">Home</a>
      </li>
      <li class="p-2.5">
        <a href="#" class="no-underline text-gray-800 block transition-colors hover:bg-gray-200">About</a>
      </li>
      <li class="p-2.5">
        <a href="#" class="no-underline text-gray-800 block transition-colors hover:bg-gray-200">Services</a>
      </li>
      <li class="p-2.5">
        <a href="#" class="no-underline text-gray-800 block transition-colors hover:bg-gray-200">Contact</a>
      </li>
    </ul>
  </nav>
</aside>
